.beautiful-btn {
    padding: 15px 20px;
    background-color: rgb(255, 89, 0);
    color: white;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
}

.beautiful-btn:hover {
    opacity: .8;
}

.add-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.todo-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo-element {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}